# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
3d-game

# Ninja clutters
.ninja_deps
.ninja_log
build.ninja

# CMake Clutters
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Visual Studio code clutter
/.vscode/*

# External Libraries
/libs/*
libglfw.so.3
libglfw.so.3.3

# Don't ignore sources
!/src/*
!/include/*